/**
 * Components
 * Card-Input.scss
 */

@use "../0-abstracts/" as *;
@use "../1-base/typography" as *;

%dropdown {
  min-width: 14rem;
  padding: .25rem;
  background-color: var(--color-background-card);
  @include border(1px, var(--color-border-primary), 1rem);
  overflow: hidden;
  box-shadow:
    0 0 3px rgba(18, 23, 24, 0.1),
    0 0 14px rgba(18, 23, 24, 0.1);
}

%dropdown-item {
  padding: .5rem 1rem;
  border-radius: .75rem;
  cursor: pointer;
  
  &:hover {
    background-color: var(--color-hover-item);
  }
}

.card-input {
  @include wh(100%, $max-w: col-width(6));
  background-color: var(--color-background-card);
  border-radius: 1.5rem;
  box-shadow:
    0 0 3px rgba(18, 23, 24, 0.1),
    0 0 60px rgba(0, 125, 131, 0.1);
  @include pos($pos: relative, $z: 0);

  input {
    padding: 0;
    background-color: transparent;
    width: 100%;
  }

  .input-group {
    padding: 1.5rem 2rem;
    position: relative;
    background-color: var(--color-background-card);
    box-shadow: 0 0 40px rgba(18, 23, 24, 0.06);

    &:first-child {
      z-index: 10;
      @include border($radius: ((tl, tr), 1.5rem));
    }

    &:nth-child(2) {
      z-index: 5;
    }

    &:last-child {
      @include border($radius: ((bl, br), 1.5rem));
    }

    &:not(#group-timeframe) .label {
      margin-bottom: .5rem;
      color: var(--color-text-secondary);
    }

    .fields { position: relative; }
  }

  .location-selector {
    @include pos(6rem, $l: 1.75rem, $z: 999);
    background-color: var(--color-background-card);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow:
      0 0 3px rgba(18, 23, 24, 0.1);
    visibility: hidden;
    opacity: 0;

    header {
      input {
        width: 100%;
        padding: .5rem 1rem;
        border-bottom: 1px solid var(--color-border-primary);
      }
    }

    .countries {
      max-height: 200px;
      overflow-y: scroll;
    }

    li {
      padding: .25rem 1rem;
      
      &:not(:first-child) {
        cursor: pointer;

        &:hover {
          color: var(--color-text-secondary);
        }
      }
    }

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }

  // Country suggestions
  .input-results {
    @include pos(3.5rem, $z: 999);
    @extend %dropdown;

    &:not(.visible) {
      visibility: hidden;
      opacity: 0;
    }

    li {
      @extend %dropdown-item;
      @extend .heading-4, .-medium;
    }
  }

  // Timezone selection field
  .field-zones {
    position: relative;

    .selected-zone {
      flex-shrink: 0;
      @include wh(10rem, 2.5rem);
      @include flex(row, center);
      padding-inline: .75rem;
      @include border(1.5px, var(--color-border-primary), .75rem); 
      background-color: rgba(255, 255, 255, .8);
      backdrop-filter: blur(5px);
      cursor: pointer;
      @extend .body-regular,.-bold;
      transform: translateY(4px);

      span {
        color: var(--color-text-secondary);
      }
    }

    .zones-list {
      @extend %dropdown;
      @include pos(3.5rem);
      @include wh(max-content, $max-h: 15rem);
      overflow-y: scroll;
      visibility: hidden;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;
      
      &::-webkit-scrollbar {
        display: none;
      }

      li {
        @extend %dropdown-item;
        @extend .body-regular, .-medium;
      }

      &.visible {
        visibility: visible;
      }
    }
  }
}