/**
 * Base
 * Typography.scss
 */

@use "../0-abstracts/" as *;

.heading {
  &-2 {
    @include font(2rem, 2rem, -2%, 650);
  }

  &-3 {
    @include font(1.5rem, 2rem, -2%, 700);
  }

  &-4 {
    @include font(1.25rem, 1.5rem, -.5%, 700);

    &.-medium {
      font-weight: 600;
    }
  }
}

.body {
  &-regular {
    @include font(1rem, 1.25rem, -.4%, 450);

    &.-medium {
      font-weight: 550;
    }

    &.-bold {
      font-weight: 650;
    }
  }
}

.-color-secondary {
  color: var(--color-text-secondary);
}