/**
 * Layout
 * Helpers.scss
 */

@use "../0-abstracts/" as *;

.flex {
  display: flex;

  &.col-center {
    @include flex(column, center, $dis: false);
  }

  &.col-end {
    @include flex(column, end, $dis: false);  
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.align {
    &-center {
      align-items: center;
    }

    &-baseline {
      align-items: baseline;
    }
  }

  &.space {
    &-between {
      justify-content: space-between;
    }
  }
}

.grid {
  display: grid;
}