/**
 * Layout
 * Header.scss
 */

@use "../0-abstracts/" as *;

main {
  @include wh(100vw, 100vh);
  padding-top: 10vh;
  @include flex(column, center, center);
  overflow: hidden;
}

section.user-input {
  width: 100%;
  @include padding(y, 5rem);
  z-index: 10;
  
  .section-title {
    margin-bottom: 24px;
    color: var(--color-text-secondary);
  }

  footer {
    padding-top: 2rem;
  }
}

section.results-drawer {
  width: 100%;
  @include pos($b: 0);
  overflow: hidden;
  @include padding(y, (80px, 16px));
}