/**
 * Layout
 * Header.scss
 */

@use "../0-abstracts/" as *;

main {
  @include wh(100vw, 100vh);
  // padding-top: 10vh;
  @include flex(column, center, center);
  overflow: hidden;
}

section.user-input {
  width: 100%;
  @include padding(y, 5rem);
  z-index: 10;
  
  .section-title {
    margin-bottom: 24px;
    color: var(--color-text-secondary);
  }

  footer {
    padding-top: 2rem;
  }
}

section.overlap-results {
  @include wh(100vw, 100vh);
  @include pos($z: 100);
  @include flex(row, center, center);
  background-color: rgba(#000, $alpha: .5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  
  &[data-visible="true"] {
    visibility: visible;
    opacity: 1;
  }
}